@import '../../styles/partials'
    
.card-shadow
    box-shadow: $card-shadow

.card-title
    font-family: $poppins-med
    font-size: 1.25rem

.greeting-title
    border-bottom: 2px solid $secondary-color

.mg-top
    margin-top: $row-mg

.big-counter
    font-size: 30px

@media screen and (max-width: $lg-bp)
    .sidebar
        margin-top: $row-mg


