@import '../../styles/partials'

.navbar-container
    background-color: $secondary-color
    height: 60px
    font-size: 16px
    font-family: $poppins-med

@media screen and (max-width: $lg-bp)
    .drop-white
        background-color: $white
    
    .navbar-nav
        margin-right: 100%
        background-color: $white
        margin-top: 15px

    




